{% extends "base.html" %}

{% block content %}
<section id="home" class="section fade-in">
    <h1>ISABELA HASCHELEVICI</h1>
    <p></p>
    <p></p>
    <p>Passionate data scientist with expertise in advanced data modeling, process automation, and comprehensive analysis. I have a proven track record of enhancing efficiency, data integrity, and providing actionable insights to drive meaningful change.</p>
    <p></p>
</section>

<section class="parallax"></section>

<section id="experience" class="section fade-in">
    <h2>Professional Experience</h2>
    
    <div class="card">
        <h3>Consultant, Forensic & Financial Crime Analytics, Deloitte (Oct 2023 - Present)</h3>
        <ul>
            <li><strong>Transactional Monitoring Analysis:</strong> Led data analysis for Transactional Monitoring deliverables, enhancing data quality processes and improving compliance reporting. Provided mentorship to junior analysts, ensuring the alignment of team output with client expectations.</li>
            <li><strong>ESG Risk Integration:</strong> Spearheaded the incorporation of ESG risks into the risk analyses for one of the largest Dutch banks, optimizing existing data structures and reducing time to insight.</li>
            <li><strong>Data Automation for Power BI Dashboard:</strong> Automated ETL processes using Alteryx and SQL, significantly reducing manual data processing time for a venture capital firm’s financial dashboard.</li>
            <li><strong>Mentorship & Coaching:</strong> Coached Deloitte Data Analytics trainees and mentored women refugees and individuals from refugee backgrounds, supporting their integration into data science careers. This contributed to the enhancement of diversity within the industry.</li>
            <li><strong>Diversity & Inclusion:</strong> Led event organization for Deloitte’s Neurodiversity Network and represented Financial Advisory on the Cultural Diversity Network team, promoting inclusive practices within Deloitte.</li>
        </ul>
    </div>

    <div class="card">
        <h3>Data Analytics Trainee, Deloitte (Nov 2021 - Oct 2023)</h3>
        <ul>
            <li><strong>Risk-Based Data Models:</strong> Developed and implemented risk models on Dataiku, leading to a more accurate risk assessment of a retail portfolio for a major Dutch bank.</li>
            <li><strong>Cloud Migration for VodafoneZiggo:</strong> Automated DDL file comparisons during the migration to Snowflake, reducing manual errors and saving substantial review time.</li>
            <li><strong>Fraud Investigation:</strong> Conducted data migration and analysis in Azure, identifying key fraudulent transactions for a large international corporation, directly contributing to the resolution of fraud investigation.</li>
        </ul>
    </div>

    <div class="card">
        <h3>Data Science Intern, HEMA (Feb 2021 - June 2021)</h3>
        <ul>
            <li><strong>Product Conversion Prediction:</strong> Implemented a cyclic boosting model to predict product conversion rates, guiding marketing strategies and improving online sales.</li>
        </ul>
    </div>

    <div class="card">
        <h3>Research Aide, Institute of Transportation Studies, UC Davis (Sept 2019 - Aug 2020)</h3>
        <ul>
            <li><strong>Carsharing Project Optimization:</strong> Analyzed electric vehicle carsharing programs to optimize pilot projects for rural mobility, directly influencing policy recommendations for sustainable transportation.</li>
        </ul>
    </div>
</section>

<section id="education" class="section fade-in">
    <h2>Education</h2>
    <h3>Master of Science in Data Science and Society</h3>
    <p>Tilburg University, 2020 - 2021</p>
    <p>Recipient of Holland Scholarship and Orange Tulip Scholarship Brazil</p>

    <h3>Bachelor of Arts in Statistics</h3>
    <p>University of California, Davis, 2016 - 2020</p>
    <p>Minor in Managerial Economics</p>
</section>

<section id="skills" class="section fade-in">
    <h2>Technical Skills</h2>
    <ul>
        <li>Python, SQL Server, HTML, CSS, Django, Flask, Azure, AWS, Git, Dataiku, R Studio</li>
        <li>Languages: Portuguese (Native), English (Fluent), Spanish (Conversational), Dutch (Elementary A2)</li>
        <li>Certifications: AWS Certified Cloud Practitioner</li>
    </ul>
</section>

<section id="contact" class="floating-contact">
    <h2>Contact Me
    <a href="https://www.linkedin.com/in/isahas">
        <img src="https://th.bing.com/th/id/R.ef8b8fb00fb4430ef55998aad289c8b9?rik=dABfNKbAdCFdAw&riu=http%3a%2f%2fwww.pngall.com%2fwp-content%2fuploads%2f2016%2f07%2fLinkedin-PNG-Pic-180x180.png&ehk=tDwmwpU0iYr77FSzuVjG13v%2fa%2bl2foLM85uK911m2Z8%3d&risl=&pid=ImgRaw&r=0" 
        alt="LinkedIn" style="width: 15px; height: 15px;">
    </a></h2>
    <p>+31 6 27 58 41 63</p>
    <p>isahaschelevici@gmail.com</p>
</section>

{% endblock %}
